//////////////////////////////////////////////////
///////////////// Input Style ////////////////////
//////////////////////////////////////////////////
.form_input {
    color: $altTextColor;
    width: 100%;
    padding-bottom: 15px;
    @include mqx(m) {
        padding-bottom: 13px;
    }

    label {
        padding-bottom: 8px;
        font: inherit;
        color: inherit;
    }

    .form_input_box {
        border: $formBorder;
        border-radius: 10px;
        padding: 12px 20px;
        width: 100%;
        color: inherit;
        background: $bg-white;
        @include trans($trans);

        &::placeholder {
            color: $placeholderColor;
        }

        &:focus-visible {
            outline: 0;
            border: 1px solid $primaryColor;
        }
    }

    input:disabled {
        background: #e2e8f0;
    }

    .position {
        width: 100%;

        .icon_position {
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            color: $placeholderColor;
        }
    }
}

//////////////////////////////////////////////////
///////////////// Select Style ///////////////////
//////////////////////////////////////////////////
/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font: $mainFontSize;
}

/* Style the arrow inside the select element: */
.position_icon_down {
    position: absolute;
    color: var(--afterSelect, $placeholderColor);
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    z-index: 1000;
}
.custom-select select {
    display: none;
    /*hide original SELECT element: */
}

.select-selected {
    position: relative;
    font: $mainFontSize;
    color: $placeholderColor;
    padding: 12px 25px;
    border: $formBorder;
    border-radius: 10px;
    background: $bg-white;
    @include trans($trans);
}

/* Style items (options): */
.select-items {
    position: absolute;
    background: $bg-white;
    border-radius: 10px;
    border: $formBorder;
    overflow: hidden;
    top: 105%;
    left: 0;
    right: 0;
    z-index: 99;
    @include trans($trans);

    div {
        padding: 12px 25px;
        border-bottom: $formBorder;
        @include trans(0.2s);

        &:hover,
        .same-as-selected {
            background: $primaryColor;
            color: $textColor;
            border-color: $primaryColor;

        }
    }

    &:last-child {
        border-bottom: none;
    }
}
/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
    @include trans($trans);
}

//////////////////////////////////////////////////
///////////////// CheckBox Style /////////////////
//////////////////////////////////////////////////

