{% macro bar() %}
<div class="bar_chart d-flex align-items-center">
    <div class="">
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="27" fill="currentColor" class="bi bi-chevron-expand" viewBox="0 0 16 16" id="IconChangeColor">
            <path fill-rule="evenodd" d="M3.646 9.146a.5.5 0 0 1 .708 0L8 12.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-2.292a.5.5 0 0 0 .708 0L8 3.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708z" id="mainIconPathAttribute" stroke-width="0.6" stroke="currentColor"></path>
        </svg>
    </div>
    <div class="">
        <span class="">Bar chart</span>
    </div>
    <div class="">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" id="IconChangeColor" height="27" width="18"><circle cx="12" cy="12" r="9" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></circle>
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v-3m0-3v0" id="mainIconPathAttribute"></path>
        </svg>
    </div>
</div>
{% endmacro %}

