{% macro recordsTable() %}
<table class="table caption-top">
    <caption class="text-capitalize">records table</caption>
    <thead>
        <tr class="text-uppercase">
            <th scope="col">location name</th>
            <th scope="col">risk duration</th>
            <th scope="col">no risk duration</th>
        </tr>
    </thead>
    <tbody class="text-capitalize">
        <tr>
            <td>camera 1</td>
            <td>2075record</td>
            <td>9445record</td>
        </tr>
        <tr>
            <td>camera 1</td>
            <td>2716record</td>
            <td>11877record</td>
        </tr>
        <tr>
            <td>camera 1</td>
            <td>2075record</td>
            <td>9445record</td>
        </tr>
    </tbody>
</table>
{% endmacro %}