{% extends "layout.html" %}
{% import 'component/form_input.html' as form %}
{% import 'component/check_box.html' as box %}
{% import 'component/button.html' as button %}


{% block content %}
<div class="login_page">
    <div class="container">
        <div class="row vh-100">
            <div class="all">
                <a class="brand-link" href="index.html">
                    <img class="img-fluid" src="../assets/images/global/Logo.png" alt="logo">
                </a>
                <h2 class="reset-head text-capitalize">set new password</h2>
                <div class="log-auth">
                    <form action="">
                        {{ form.form('', 'New password', 'email', 'Enter your new password') }}
                        {{ form.form('', 'Confirm new password', 'email', 'Confirm your new password') }}
                        {{ button.btn( '', 'submit', '', '', 'main_btn') }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}